<!-- <app-nav></app-nav> -->

  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
      @import url("https://use.typekit.net/nfj4oqf.css");
      @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');


      </style>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    </head>





      <!-- <button (click)="tester"></button> -->
      <section id="about">
        <h1 class="about">KIERON
          <span class="about">CAIRNS
          </span>
        </h1>
        <h3 class="about">kieroncairns@protonmail.com
        <span class="about">+447930007794</span>
        </h3>
        <a href="https://github.com/kieron-cairns"><img class="about-website-links" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/2048px-Octicons-mark-github.svg.png">
        </a>
        <a href="https://uk.linkedin.com/in/kieron-cairns-2567bb107" >
        <img class="about-website-links" src="https://cdn-icons-png.flaticon.com/512/174/174857.png">
      </a>
      <a href="https://stackoverflow.com/users/6173232/kieron">
        <img class="about-website-links" src="https://cdn.iconscout.com/icon/free/png-256/stackoverflow-2752065-2284882.png">
      </a>

      </section>


      <!-- <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000">
        {{ testType }}
    </span> -->



          <p class="about">
            <span typingAnimation [typeSpeed]="13" [condition]="start" [startDelay]="250">
              I am an experienced software & web developer that implements agile frameworks and languages to provide robust and scalable systems that can help your business grow. I enjoy challenging myself by keeping on top of the latest trends.

          </span>
            <!-- I am an experienced software & web developer that implements agile frameworks and languages to provide robust and scalable systems that can help your business grow. I enjoy challenging myself by keeping on top of the latest trends. -->

          </p>

        <section id="experience">

          <h1 class="experience">

            <span *ngIf="this.startOfExperience1 && isPc" typingAnimation [typeSpeed]="10" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              EXPERIENCE
          </span>
          <span *ngIf="this.startOfMobExperience1 && isMobile" typingAnimation [typeSpeed]="10" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            EXPERIENCE
        </span>
            </h1>
          <h3 class="experience">
            <span *ngIf="this.startOfExperience1 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            Synectics Plc
            </span>
            <span *ngIf="this.startOfMobExperience1 && isMobile" typingAnimation [typeSpeed]="10" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              Synectics Plc
            </span>
          </h3>
          <h3 class="experience-time-period">
            <span *ngIf="this.startOfExperience1 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            November 2021 - Current
            </span>
            <span *ngIf="this.startOfMobExperience1 && isMobile" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              November 2021 - Current
              </span>
          </h3><br>
          <div>
          <p class="experience">
            <span *ngIf="this.startOfExperience1 && this.isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Created Rest APIs for data management and event subscribers to govern the state of data within applications
            </span>
            <span *ngIf="this.startOfMobExperience1 && this.isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="500" [hideCursorOnComplete]="true">
              • Created Rest APIs for data management and event subscribers to govern the state of data within applications
              </span>

          </p>
          <p class="experience">
            <span *ngIf="this.startOfExperience1 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Implemented event driven based enrichment to add additional data to incoming events that result in the publication of newly enriched same version events
            </span>
            <span *ngIf="this.startOfMobExperience1 && isMobile" typingAnimation [typeSpeed]="9" [condition]="start"  [startDelay]="1500" [hideCursorOnComplete]="true">
              • Implemented event driven based enrichment to add additional data to incoming events that result in the publication of newly enriched same version events
              </span>
          </p>
          <p class="experience">
            <span *ngIf="this.startOfExperience1 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Gained the understanding of applying SOLID principles to OOP design to achieve scalability and easy addition or removal of components whilst keeping classed based dependencies to a minimum.
         </span>
         <span *ngIf="this.endOfMobExperience1 && isMobile" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
          • Gained the understanding of applying SOLID principles to OOP design to achieve scalability and easy addition or removal of components whilst keeping classed based dependencies to a minimum.
       </span>
          </p>
          <p class="experience">
            <span *ngIf="this.endOfExperience1 && isPc" typingAnimation [typeSpeed]="10" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Obtained experience with implementing micro services within applications applying IDEAL principles to such micro services.
            </span>
            <span *ngIf="this.endOfMobExperience1 && isMobile" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Obtained experience with implementing micro services within applications applying IDEAL principles to such micro services.
              </span>
          </p>
          <p class="experience">
            <span *ngIf="this.endOfExperience1 && isPc" typingAnimation [typeSpeed]="7" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Gained further experience with unit testing whilst working with SOLID principles so that tests can easily be written and maintained
            </span>
            <span *ngIf="this.endOfMobExperience1 && isMobile" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Gained further experience with unit testing whilst working with SOLID principles so that tests can easily be written and maintained
              </span>
          </p>
        </div>
        <h3 class="experience">
          <span *ngIf="this.startOfExperience2 && isPc" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
          C# .NET Developer - Satoshi Systems Ltd
          </span>
          <span *ngIf="this.startOfMobExperience2 && isMobile" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            C# .NET Developer - Satoshi Systems Ltd
            </span>
        </h3>
        <h3 class="experience-time-period">
          <span *ngIf="this.startOfExperience2 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
          December 2020 - November 2021
          </span>
          <span *ngIf="this.startOfMobExperience2 && isMobile" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            December 2020 - November 2021
            </span>
        </h3><br>
        <div>
        <p class="experience">
          <span *ngIf="this.startOfExperience2 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
          • Analysed bespoke commodity trading reports and business account analysis using SQL to interact with multiple databases at once and query data from different entities.
          </span>
          <span *ngIf="this.startOfMobExperience2 && isMobile" typingAnimation [typeSpeed]="4" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Analysed bespoke commodity trading reports and business account analysis using SQL to interact with multiple databases at once and query data from different entities.
            </span>
        </p>
        <p class="experience">
          <span *ngIf="this.endOfExperience2 && isPc" typingAnimation [typeSpeed]="8" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
          • Built functionalities to manage bulk reports and automatically email them to clients using C# and Acumatica ERP, saving us around 33 hours each week of manual work.
          </span>
          <span *ngIf="this.startOfMobExperience2 && isMobile" typingAnimation [typeSpeed]="8" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Built functionalities to manage bulk reports and automatically email them to clients using C# and Acumatica ERP, saving us around 33 hours each week of manual work.
            </span>
        </p>
        <p class="experience" style="padding-bottom: 50px;">
          <span *ngIf="this.endOfExperience2 && isPc" typingAnimation [typeSpeed]="8" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
          • Developed new features that affected company products using TypeScript, React, those features were deployed to production to be used by small and medium sized enterprises.
        </span>
        <span *ngIf="this.endOfMobExperience2 && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
          • Developed new features that affected company products using TypeScript, React, those features were deployed to production to be used by small and medium sized enterprises.
        </span>
        </p>
      </div>
          <h3 class="experience">
            <span *ngIf="this.startOfExperience3 && isPc" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            Freelance
            </span>
            <span *ngIf="this.startOfMobExperience3 && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              Freelance
              </span>
          </h3>
          <h3 class="experience-time-period" style="padding-bottom: 25px;">
            <span *ngIf="this.startOfExperience3 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            October 2019 - Decmber 2020
            </span>
            <span *ngIf="this.startOfMobExperience3 && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              October 2019 - Decmber 2020
              </span>
          </h3>
        <div>
          <p class="experience">
            <span *ngIf="this.startOfExperience3 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Designed, developed, and deployed robust web-client user interfaces which integrate with various server-side components and back-end systems.
            </span>
            <span *ngIf="this.startOfMobExperience3 && isMobile" typingAnimation [typeSpeed]="4" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Designed, developed, and deployed robust web-client user interfaces which integrate with various server-side components and back-end systems.
              </span>
          </p>
          <p class="experience">
            <span *ngIf="this.startOfExperience3 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Built highly scalable, reusable and resilient APIs for web-native platforms.
            </span>
            <span *ngIf="this.startOfMobExperience3 && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Built highly scalable, reusable and resilient APIs for web-native platforms.
              </span>
          </p>
          <p class="experience">
            <span *ngIf="this.endOfExperience3 && isPc" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Engineered efficient and reusable front-end abstractions and systems
            </span>
            <span *ngIf="this.endOfMobExperience3 && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Engineered efficient and reusable front-end abstractions and systems
              </span>
          </p>
          <p class="experience" style="padding-bottom: 50px;">
            <span *ngIf="this.endOfExperience3 && isPc" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Developed and implemented low-latency, high-availability, scalable and accessible UX for web platforms based on business needs.
            </span>
            <span *ngIf="this.endOfMobExperience3 && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Developed and implemented low-latency, high-availability, scalable and accessible UX for web platforms based on business needs.
              </span>
          </p>
        </div>
          <h3 class="experience">
            <span *ngIf="this.startOfExperience4 && isPc" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            Technical Services - Egress Software Technologies
            </span>
            <span *ngIf="this.startOfExperience4Mob && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              Technical Services - Egress Software Technologies
              </span>
          </h3>
          <h3 class="experience-time-period" style="padding-bottom: 25px;">
            <span *ngIf="this.startOfExperience4 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            May 2019 - October 2019
            </span>
            <span *ngIf="this.startOfExperience4Mob && isMobile" typingAnimation [typeSpeed]="10" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              May 2019 - October 2019
              </span>
          </h3>
          <div>
          <p class="experience">
            <span *ngIf="this.startOfExperience4 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Gathered and analysed information from clients about their current IT infrastructure,prior to deploying any Egress products they have purchased.
            </span>
            <span *ngIf="this.startOfExperience4Mob && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Gathered and analysed information from clients about their current IT infrastructure,prior to deploying any Egress products they have purchased.
              </span>
          </p>
          <p class="experience">
            <span *ngIf="this.startOfExperience4 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Identified customer insights and drove a tight feedback loop with product and technical teams to deliver re-framing results.
            </span>
            <span *ngIf="this.startOfExperience4Mob && isMobile" typingAnimation [typeSpeed]="6" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Identified customer insights and drove a tight feedback loop with product and technical teams to deliver re-framing results.
            </span>
          </p>
          <p class="experience">
            <span *ngIf="this.startOfExperience4 && isPc" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Tracked and troubleshot technical issues when deploying Egress software and implemented solutions in a prompt manner using Exchange and O365 servers.
            </span>
            <span *ngIf="this.endOfExperience4Mob && isMobile" typingAnimation [typeSpeed]="3" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Tracked and troubleshot technical issues when deploying Egress software and implemented solutions in a prompt manner using Exchange and O365 servers.
              </span>
          </p>
          <p class="experience">
            <span *ngIf="this.startOfExperience4 && isPc" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Rapidly reviewed, interpreted. coordinated and took action on external inquiries and provided timely and accessible support.
            </span>
            <span *ngIf="this.endOfExperience4Mob && isMobile" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Rapidly reviewed, interpreted. coordinated and took action on external inquiries and provided timely and accessible support.
              </span>
          </p>
          <p class="experience">
            <span *ngIf="this.startOfExperience4 && isPc" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
            • Partnered with all levels of the organisation, drove results, proactively identified and resolved problems, and made challenging decisions.
            </span>
            <span *ngIf="this.endOfExperience4Mob && isMobile" typingAnimation [typeSpeed]="9" [condition]="start" [startDelay]="0" [hideCursorOnComplete]="true">
              • Partnered with all levels of the organisation, drove results, proactively identified and resolved problems, and made challenging decisions.
              </span>
          </p>
        </div>

        </section>

        <section id="education">
          <h1 class="education">EDUCATION</h1>

          <h3 class="education">University Of Sheffield</h3>
          <h3 class="education-course">MSc Advanced Computer Science</h3>
          <div>
          <p class="education">• Relevant Coursework: Python, C, Java and Swift</p>
        </div>
          <h3 class="education">University Of Derby</h3>
          <h3 class="education-course">BSc Computer Networks & Security</h3>
          <div>
          <p class="education">• Relevant Coursework: C, Algorithm Design and Analysis, Database Management, OOP Concepts,
            Cisco Routing and Switching, Ethical Hacking
          </p>
        </div>

      </section>

      <section>
        <h1 class="skills">SKILLS</h1>
        <h3 class="skills">PROGRAMMING LANGUAGES & TOOLS</h3>
       <div class="skills-image-logos"  *ngFor="let image of imgLogos">

         <img style="height: 90px; width: 90px;" [src]="image">
       </div>

       <div class="skills">
       <div class="skills" *ngFor="let tick of languagesAndTools">
         <!-- <img style="height: 50px; width: 50px;" [src]="checkMarkImgage"> -->
        <h2 class="skills">✓ {{tick}}</h2>
       </div>
    </div>
      </section>
    <section id="interests">
      <h1 class="interests">My Interests</h1>
      <div>
      <p class="interests">Well, I have a lot of interests and not enough time to fulfill them all. Minus web & software development, in my spare time I like to
        keep fit and enjoy the outdoors. I also partake in Jiu Jitsu and hope soon to gain my blue belt. I also enjoy playing my guitar and learning classic
        and popular songs in an acoustic finger style version. I ocaisonally also enjoy a game of chess and if I have enough time I also like to travel.
      </p>
      </div>
    </section>

<!-- </div> -->
