h1.about{
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 6.5em;
  /* color: red; */
  line-height: 1;

  right: 30px;
  padding-left: 30px;
  padding-top: 300px;

}
.about-website-links
{
  /* display : inline-block; */
  padding-left: 30px;
  width: 60px;
  height: 60px;

}

h3.about {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  /* color: red; */
  line-height: 1;

  right: 30px;
  padding-left: 30px;
}

.about > span {
  color:#191970;
  padding-left: 10px;
}

p.about {
  right: 30px;
  font-size: 1.75em;
  line-height: 1;
  padding-top: 75px;
  width: 75%;


  padding-left: 30px;
  font-family: 'Roboto Mono', monospace;

}

/* span.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
} */

h1.experience {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1;
  padding-top: 400px;
  right: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
}


h3.experience {
  /* font-family: 'Saira Extra Condensed', sans-serif; */
  /* font-family: 'Roboto Mono', monospace; */
  font-family: 'Saira Extra Condensed', sans-serif;

  font-weight: 900;
  word-spacing: 10px;
  font-size: 2.2em;
  line-height: 1;
  width: 25%;
  right: 30px;
  padding-left: 30px;
  padding-right: 15%;
  /* padding-top: 60px; */

}

h3.experience-time-period {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  word-spacing: 10px;
  font-size: 1.75em;
  line-height: 1;
  /* width: 50%; */
  right: 30px;
  padding-top: 30px;
  padding-left: 30px;
  /* display : inline-block; */
  padding-left:30px;

}

p.experience {
  right: 30px;
  width: 65%;
  font-size: 1.25em;
  line-height: 1.5;
  padding-top: 1.5px;
  /* padding-bottom: 75px; */
  padding-left: 30px;
  font-family: 'Roboto Mono', monospace;
}

h1.education {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1;
  padding-top: 400px;
  right: 30px;
  padding-left: 30px;
}

h3.education {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  word-spacing: 10px;
  font-size: 2.5em;
  line-height: 1;
  right: 30px;
  padding-top: 50px;
  padding-left: 30px;
}

h3.education-course {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  word-spacing: 10px;
  font-size: 1.75em;
  line-height: 1;
  right: 30px;
  padding-top: 5px;
  padding-left: 30px;
}

p.education {
  right: 30px;
  width: 50%;
  font-size: 1.25em;
  line-height: 1.5;
  padding-top: 10px;

  padding-left: 30px;
  font-family: 'Roboto Mono', monospace;

}


h1.skills{
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 4.5em;
  /* color: red; */
  line-height: 1;

  right: 30px;
  padding-left: 30px;
  padding-top: 300px;

}

h3.skills {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  /* color: red; */
  line-height: 1;

  right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

}

.skills-image-logos {
  display : inline-block;
  padding-left:30px;
  padding-bottom: 50px;

}

h2.skills {
  right: 30px;
  font-size: 1.75em;
  line-height: 1;
  padding-top: 15px;
  padding-left: 30px;
  font-family: 'Roboto Mono', monospace;


}


h1.interests {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1;
  padding-top: 400px;
  right: 30px;
  padding-left: 30px;
  padding-bottom: 40px;
  padding-top: 400px;
}

p.interests {
  right: 30px;
  width: 65%;
  font-size: 1.25em;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 75px;
  padding-left: 30px;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 700px;
}

