<html>
<head>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Saira+Extra+Condensed:wght@500&display=swap');


  </style>
</head>

<mat-sidenav-container  style="position: fixed;" class="sidenav-container">
  <mat-sidenav cla #drawer class="sidenav red-container" [autoFocus]="false" [opened]="isOpened" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

      <div style="height: 15%;">

      </div>

    <img [src]="profileImage" class="profile-img" style="height:250px; width: 250px;">
    <mat-nav-list (click)="drawer.toggle()" class="sidebar-font">
      <a mat-list-item href="#about">ABOUT</a>
      <a mat-list-item href="#experience">EXPERIENCE</a>
      <a mat-list-item href="#education">EDUCATION</a>
      <a mat-list-item href="#interests">INTERESTS</a>
      <a mat-list-item href="#blog">BLOG</a>




      <!-- <section id="lol"></section> -->


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="hide-on-large-screens toolber">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span></span>
    </mat-toolbar>


    <!-- <app-home></app-home> -->
    <!-- <app-test></app-test> -->
    <!-- <div style="height: 15%;"></div> -->
    <!-- <router-outlet></router-outlet> -->
    <!-- <app-test (Navigate)="navigateTo('target')">


    </app-test> -->
    <!-- <router-outlet></router-outlet> -->
    <ng-particles id="tsparticles" [options]="particlesOptions" [style]="myStyle" (particlesLoaded)="particlesLoaded($event)"></ng-particles>

    <!-- <app-home></app-home> -->
    <!-- <app-about></app-about>> -->
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
</html>


