<!-- <app-test></app-test>
<ng-particles id="tsparticles" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)"></ng-particles> -->
<!-- <app-nav></app-nav> -->
    <!-- <ng-particles id="tsparticles" [options]="particlesOptions" [style]="myStyle" (particlesLoaded)="particlesLoaded($event)"></ng-particles> -->

    <app-nav></app-nav>
     <!-- <ng-particles id="tsparticles" [options]="particlesOptions" [style]="myStyle" (particlesLoaded)="particlesLoaded($event)"></ng-particles> -->

