body {
  padding-left: 20%;
}

h1.about{
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 6.5em;
  /* color: red; */
  line-height: 1;

  right: 30px;
  padding-left: 30px;
  padding-top: 300px;

}

h3.about {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  /* color: red; */
  line-height: 1;

  right: 30px;
  padding-left: 30px;
}

.about > span {
  color:#191970;
  padding-left: 10px;
}

p.about {
  right: 30px;
  font-size: 1.75em;
  line-height: 1;
  padding-top: 75px;


  padding-left: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
}

/* span.text-primary {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
} */

h1.experience {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1;
  padding-top: 400px;
  right: 30px;
  padding-left: 30px;
}


h3.experience {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1;
  right: 30px;
  padding-top: 50px;
  padding-left: 30px;
}

p.experience {
  right: 30px;
  width: 50%;
  font-size: 1.75em;
  line-height: 1.5;
  padding-top: 10px;

  padding-left: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
}

h1.education {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 4.5em;
  line-height: 1;
  padding-top: 400px;
  right: 30px;
  padding-left: 30px;
}

h3.education {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 900;
  font-size: 2.5em;
  line-height: 1;
  right: 30px;
  padding-top: 50px;
  padding-left: 30px;
}

p.education {
  right: 30px;
  width: 50%;
  font-size: 1.75em;
  line-height: 1.5;
  padding-top: 10px;

  padding-left: 30px;
  font-family: 'Saira Extra Condensed', sans-serif;
}


