<app-nav></app-nav>
<ng-particles id="tsparticles" [options]="particlesOptions" [style]="myStyle" (particlesLoaded)="particlesLoaded($event)"></ng-particles>

<html>
  <head>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@500&display=swap');
      </style>
    </head>
    <body>



      <!-- <button (click)="tester"></button> -->
      <section id="about">
        <h1 class="about">KIERON
          <span class="about">CAIRNS
          </span>
        </h1>
        <h3 class="about">kieroncairns@protonmail.com
        <span class="about">+447930007794</span>
        </h3>
      </section>

        <div>
          <p class="about">
            I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
          </p>
        </div>

        <section id="experience">
          <h1 class="experience">EXPERIENCE</h1>

          <h3 class="experience">C# .NET Developer</h3>
          <p class="experience">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consectetur pariatur iusto illum similique tempora aperiam, quas, cumque odio neque doloribus autem sit reprehenderit sunt atque porro enim adipisci esse?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni odio a blanditiis soluta recusandae aut maxime facilis ipsum fugit veritatis, ea aliquam voluptas, rerum aliquid non iste, autem perspiciatis ipsa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, unde consectetur! Laudantium provident natus, magnam dolore dolor pariatur doloribus nostrum. Reiciendis numquam perspiciatis fuga suscipit sit? Eos numquam odit unde.
          </p>

          <h3 class="experience">Freelance</h3>
          <p class="experience">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consectetur pariatur iusto illum similique tempora aperiam, quas, cumque odio neque doloribus autem sit reprehenderit sunt atque porro enim adipisci esse?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni odio a blanditiis soluta recusandae aut maxime facilis ipsum fugit veritatis, ea aliquam voluptas, rerum aliquid non iste, autem perspiciatis ipsa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, unde consectetur! Laudantium provident natus, magnam dolore dolor pariatur doloribus nostrum. Reiciendis numquam perspiciatis fuga suscipit sit? Eos numquam odit unde.
          </p>

          <h3 class="experience">Technical Services</h3>
          <p class="experience">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis consectetur pariatur iusto illum similique tempora aperiam, quas, cumque odio neque doloribus autem sit reprehenderit sunt atque porro enim adipisci esse?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni odio a blanditiis soluta recusandae aut maxime facilis ipsum fugit veritatis, ea aliquam voluptas, rerum aliquid non iste, autem perspiciatis ipsa.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, unde consectetur! Laudantium provident natus, magnam dolore dolor pariatur doloribus nostrum. Reiciendis numquam perspiciatis fuga suscipit sit? Eos numquam odit unde.
          </p>
        </section>

        <section id="education">
          <h1 class="education">EDUCATION</h1>

          <h3 class="education">University Of Sheffield</h3>
          <p class="education">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque sequi saepe magnam similique alias distinctio harum molestias sint ab eius, suscipit ullam! Vero aspernatur, officiis corrupti quas voluptate minus dolorem!</p>

          <h3 class="education">University Of Derby</h3>
          <p class="education">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo rem quos corrupti quis facilis magni fugit? Commodi necessitatibus eaque architecto libero nemo. At mollitia rerum nemo libero eveniet voluptates repellendus.</p>
      </section>

      <div id="section2" #target>Your target</div>


    </body>
</html>


